<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <!--<configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>-->
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="default">
          <match url="^default(\d*).aspx$" ignoreCase="false"/>
          <action type="Rewrite" url="default.aspx?page={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="tag">
          <match url="^tag_(\w+)_(\d+).aspx$" ignoreCase="false"/>
          <action type="Rewrite" url="tag.aspx?k={R:1}&amp;page={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="tags">
          <match url="^tags(\d*).aspx$" ignoreCase="false"/>
          <action type="Rewrite" url="tags.aspx?page={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="company">
          <match url="^post_(\d+).aspx$" ignoreCase="false"/>
          <action type="Rewrite" url="post.aspx?id={R:1}" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>-->
  <connectionStrings>
    <add name="SQLConnString" connectionString="server=localhost;uid=root;pwd=root;Charset=utf8;Convert Zero Datetime=True;Allow Zero Datetime=True;Database=shuangguizhi" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
	<system.web>
    <pages validateRequest="false" enableEventValidation="true"></pages>
		<compilation debug="true">
		</compilation>
    <customErrors mode="Off" defaultRedirect="403.htm" >
      
    </customErrors>
		<authentication mode="Windows"/>
	</system.web>
  
  
  <!--<RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/default(\d*).aspx</LookFor>
        <SendTo>~/default.aspx?page=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/tag_(\w+)_(\d+).aspx</LookFor>
        <SendTo>~/tag.aspx?k=$1&amp;page=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/tags(\d*).aspx</LookFor>
        <SendTo>~/tags.aspx?page=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/post_(\d+).aspx</LookFor>
        <SendTo>~/post.aspx?id=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>-->
</configuration>
